.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.main-page {
    text-align: center;
}

.background {

    background-image: url(../images/mainpage.jpg);
    background-size: 100%;
}

.carousel {
    width: max-content;
    margin: auto;
    height: auto;

}

.bt-search {
    padding-top: 1%;
    padding-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    position: relative;
}

.logo {
    width: 84px;
    height: auto;
    display: inline-block;
}

h2 {
    text-align: center;
}

/*aboutus.html*/
.tittle_about {
    text-align: center;
}

.about {
    text-align: center;
    text-justify: inter-word;
}

.card-img-top {
    width: auto;
    height: 250px;
}




.justify-content-between {
    padding-top: 3%;
    padding-bottom: 5%;
    padding-left: 25%;
    padding-right: 25%;
    text-align: center;
}

/*series.html*/
.serieBox img {
    height: 200px;
    width: 200px;
}

.history {
    width: auto;
    text-align: center;
    text-justify: inter-word;

    margin-left: 25%;
    margin-right: 25%;
}

#lista {
    display: flex;
    flex-wrap: wrap;
}

.link-serie {
    text-decoration: none;
    color: black;
}

/*normasdeuso.html*/
.normastittle {
    text-align: center;
}

.foro {
    text-align: center;
}

.list-group-item {
    text-align: center;
    text-justify: inter-word;
}

@media (max-width: 1400px) {
    #footer {
        position: relative;
    }

    .d-flex {
        margin-left: 83%;
    }
}

@media (max-width: 992px) {
    .d-flex {
        margin-left: 72%;
    }
}

h5 {
    text-align: center;
}