/*
* {
}
*/

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.main-page {
 /*
    background-image: url(../images/mainpage.jpg);
    background-size: cover;
   
    padding: 25% 50%;
    
    margin: 0 auto;
    height: 250px;
    */
    text-align: center;
}

.carousel{
    width: 15%;
    margin: auto;
    height: auto;
   
}

.bt-search{
    padding-top: 5%;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translateX(-50%)
  
}
.logo {
    width: 84px;
    height: auto;
    display: inline-block;
}

h2{
    text-align: center;
}

/*aboutus.html*/
.tittle_about{
    text-align: center;
}
.about{
    text-align: center;
}
.box_about{
    flex-wrap: wrap;
}

/*series.html*/
.serieBox img{
    height: 200px;
    width: 200px;
}

